body{
    background-color: rgb(127, 177, 177);
}

.container{
    width: 1080px;
    margin: 0px auto;
    font-size: 1em;

}

.activo{
    background-color: rgba(92, 153, 143, 0.801);
}
.tamano{
    width: 250px;
    
}

img {
    width:100%;
}

section, aside{
    padding: 10px;
    background-color: rgba(87, 137, 146, 0.877);
    border-radius: 3px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
}

section{
    float: left;
    width: 70%;
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

footer{
    margin-top: 15px;
    width: 100%;
    font-size: 90%;
    text-align: center;
    background-color: rgba(110, 148, 148, 0.507);
    border-radius: 3px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
}
aside{
    float: right;
    width: 25%;
}

nav{
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    float: left;
    padding: 0px;
}

nav ul li{
    float: left;
    padding: 4px 55px;
    margin: 3px;
    background-color: rgb(70, 104, 93);
    border-radius: 3px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;

}
nav ul li a{
    text-decoration: none;
}

nav ul li:hover{
    background-color: beige;

}

footer{
    margin: 12px;
    text-align: center;
    clear: both;

}

aside{
    text-align: center;
    font-size: 135%;
}

@media screen and (max-width: 980px){
    .container{
        width: 98%;
    }
    section{
        width: 68%;

    }
    aside{
        text-align: center;
    }
}
/* screen 700px */
@media screen and (max-width: 700px){
    aside, section{
        float: none;
        width: 96%; 
    }
    nav, section{
        font-size: 1.2em;
    }
    aside{
        background-color: rgba(149, 224, 221, 0.884);
        margin-top: 5px;
        text-align: center;
    }
    nav ul{
        float: none;
        clear: both;
    }
    .tamano{
        width: 400px;
    }

}

/* screen 500px*/
@media screen and (max-width: 501px){
    aside{
        background-color: rgba(67, 207, 203, 0.712);
    }
    nav, section{
        font-size: 1.5em;
    }

    section{
        width: 94%;   
    }

    nav ul {
        float: left;
        clear: none;
        width: 50%;
    }
    nav ul li{
        float: none;
    }
    .tamano{
        width: 400px;

    }
}
